input[type=number] {
  -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button[disabled]{
  opacity: .5;
}
.quantity-input{
  width: 60px;
  text-align: center;
}
.product-item-actions{
  width: 230px;
}